fastapi==0.128.0
uvicorn==0.40.0
pydantic==2.12.5
torch==2.8.0
numpy==2.4.0
scipy==1.16.3
rdkit
peft
e3nn==0.5.1
matplotlib==3.10.8
torch-geometric==2.7.0
torch_scatter==2.1.2+pt28cpu
torch_cluster==1.6.3+pt28cpu
torch_sparse==0.6.18+pt28cpu
opt_einsum==3.4.0
opt-einsum-fx==0.1.4
sympy==1.14.0
